<!DOCTYPE html>

<html lang="en">
<head><script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
    <meta name="viewport" content="">
    <title>Inc</title>
    <link rel="icon" type="image/png" href="https://d1hjm33yswheja.cloudfront.net/img/favicon.ico" />
    <link rel="fluid-icon" href="https://d1hjm33yswheja.cloudfront.net/img/icon_512x512@2x.png" title="Inc" />

    
    <link rel="stylesheet" href="/public/css/login.css" type="text/css" />
    
</head>

<body class="login">
    

    
<div id="login" style="">
    <img src="https://d1hjm33yswheja.cloudfront.net/img/logo-inc-b.png" height="72" width="72">
    <h1>Login in to your Inc</h1>
    <hr>
    <p>Sign p with your email</p>
    <form action="/signup" method="POST">
        <input type='hidden' name='csrfmiddlewaretoken' value='i7I1xhigqCmr7V4RWNZxWUuYK9YyeaHb' />
        <tr><th><label for="id_email">Email:</label></th><td><input id="id_email" maxlength="75" name="email" placeholder="Email" type="text" /></td></tr>
<tr><th><label for="id_password">Password:</label></th><td><input id="id_password" name="password" placeholder="Password" type="password" /></td></tr>
        <input type="submit" class="btn btn-primary" value="Create new Account">
        <a href="/accounts/password/reset/" class="forgot" style="font-size:14px; padding:15px 0; color:#999; display:inline-block">Forgot password?</a>
    </form>
</div>



<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>

